{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-console": "off",
    "react/prop-types": "off",
    "import/extensions":"off",
    "arrow-body-style": "off",
    "quotes": "off",
    "no-trailing-spaces": "off",
    "react/sort-comp":"off",
    "padded-blocks": "off",
    "no-use-before-define": "off"
  }
}