.no-pad{
	padding:0 !important
}

#homepage{
	display:flex;
	flex-direction: row;
}

#rooms_map {
	flex-grow: 3;
}

#rooms_list{
	flex-grow: 2;
}

.DJBooth {
	position: absolute;
	height: 100%;
	width: 100%;
}
